en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
fairseq @ git+https://github.com/pytorch/fairseq.git@0db28cd
regex==2020.11.13
spacy==2.3.5
